
.btn{
    width: 100%;
    border-radius: 0%;
    border-bottom: 1px solid black;
    
}

body{
    background-color: lightgray;
}

.sidebar{
    background-color: darkgray;
}

.active{
    background-color: tomato;
    border: 1px solid black;
    transition: 1.2ms;
}


